html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: none; }

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: helvetica, arial, sans-serif;
  background: rgba(140, 140, 140, 0.5);
  background-attachment: fixed;
  background-size: cover; }

#mainContent {
  position: relative;
  width: 100%;
  height: 1400px;
  transform: rotate(0deg);
  box-sizing: border-box; }

.clearFix {
  clear: both; }

header {
  position: fixed;
  box-shadow: 0 2px 4px 0 rgba(43, 43, 43, 0.5);
  top: 0;
  padding: 10px 0;
  width: 100%;
  height: 50px;
  z-index: 999;
  background: #3f4348 url("../img/bg.png"); }
  header h4 {
    color: #FFF;
    position: relative;
    float: right;
    line-height: 0.7;
    margin-right: 10px;
    opacity: 0; }
  header .orientation {
    float: right;
    line-height: 0.7;
    margin-right: 40px; }
  header .amcLogo {
    position: absolute;
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 2%; }

iframe {
  border: 0;
  position: relative; }

#bannerContainer {
  width: 100%;
  height: 100%;
  margin-top: 100px; }

.draggable {
  position: absolute; }

.btn {
  border: 0;
  font-size: 1em;
  color: white;
  border-radius: 10px;
  float: right;
  font-weight: bold;
  padding: 15px;
  margin-right: 30px;
  background-color: #82b440;
  transition: all 0.5s ease;
  outline: none; }

.reload {
  box-shadow: 0 2px 0 #6f9a37; }
  .reload .refresh {
    margin-right: 5px;
    transform-origin: 50%;
    transition: all 0.5s ease; }
  .reload:hover {
    background-color: #7aa93c;
    box-shadow: 0 1px 0 #6f9a37; }
    .reload:hover .refresh {
      transform: rotateZ(360deg); }

.toggleButton {
  margin: 0 0.5rem;
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3.3rem;
  border-radius: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0; }
  .toggleButton .handle {
    position: absolute;
    top: 0.1875rem;
    left: 1.8875rem;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 1.125rem;
    background: #fff;
    transition: left 0.25s; }
  .toggleButton .on {
    position: absolute;
    line-height: 0;
    left: 5px; }
  .toggleButton .off {
    position: absolute;
    display: none;
    line-height: 0;
    right: 5px; }
  .toggleButton .moveHandleLeft {
    left: 0.2875rem; }

.bannerHeader {
  visibility: visible;
  background: #999799;
  height: 30px;
  padding-left: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  font-size: .7em;
  margin: auto;
  z-index: 999;
  transition: background-color 0.5s ease;
  cursor: move; }
  .bannerHeader div {
    position: relative;
    width: 20px;
    height: 100%;
    display: inline-block;
    cursor: pointer; }
    .bannerHeader div:hover i {
      color: red; }
    .bannerHeader div:hover .tooltiptext {
      visibility: visible; }
  .bannerHeader i {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease; }
  .bannerHeader:hover {
    background-color: #535253; }

.hideBannerHeader {
  visibility: hidden;
  display: none; }

.tooltiptext {
  display: inline-block;
  font-size: 12px;
  width: 120px;
  visibility: hidden;
  background-color: rgba(43, 43, 43, 0.5);
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 6px 6px;
  position: absolute;
  left: 0;
  top: -90%;
  z-index: 1;
  opacity: 0.5; }

.mpu {
  width: 480px;
  height: 320px; }

.mpuContainer {
  width: 300px;
  height: 280px;
  transform: translate(30px, 0px); }

.mobile {
  width: 300px;
  height: 80px; }

.mobileContainer {
  width: 300px;
  height: 88px;
  transform: translate(30px, 294px); }

.wideMobile {
  width: 320px;
  height: 80px; }

.wideMobileContainer {
  width: 320px;
  height: 80px;
  transform: translate(30px, 400px); }

.skyscraper {
  width: 120px;
  height: 600px; }

.skyscraperContainer {
  width: 120px;
  height: 630px;
  transform: translate(332px, 0px); }

.wideSkyscraper {
  width: 160px;
  height: 600px; }

.wideSkyscraperContainer {
  width: 160px;
  height: 630px;
  transform: translate(454px, 0px); }

.doubleMpu {
  width: 300px;
  height: 600px; }

.doubleMpuContainer {
  width: 300px;
  height: 630px;
  transform: translate(616px, 0px); }

.banner {
  width: 468px;
  height: 60px; }

.leaderboard {
  width: 728px;
  height: 90px; }

.leaderboardContainer {
  width: 728px;
  height: 120px;
  transform: translate(10px, 650px); }

.billboard {
  width: 970px;
  height: 250px; }

.billboardContaoner {
  width: 970px;
  height: 280px;
  transform: translate(10px, 800px); }

.sizeBtn {
  position: relative;
  display: inline-block;
  padding: 5px;
  margin-left: 10px;
  background: #3f4348;
  border-radius: 5px;
  color: #FFF;
  background-color: #0095ff;
  border: 1px solid #07c;
  box-shadow: inset 0 1px 0 #66bfff; }
  .sizeBtn:hover {
    background-color: #07c; }

/*# sourceMappingURL=main.css.map */
