html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

#mainContent {
  position: relative;
  overflow: hidden;
  width: 120px;
  height: 600px;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  border: 1px solid #B2B5B6;
  background-size: cover;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  #mainContent div, #mainContent img {
    position: absolute; }

.logo {
  top: -1px;
  left: -1px; }

.copy {
  top: 115px;
  left: 8px;
  -webkit-transform: translateX(-300px);
  -ms-transform: translateX(-300px);
  transform: translateX(-300px); }

.bg {
  top: -1px;
  right: -1px; }

.hide {
  opacity: 0; }

.blueSmall {
  top: 102px;
  left: 8px; }

#ctaContainer {
  width: 100px;
  height: 22px;
  background: #FFD600;
  top: 173px;
  left: 9px;
  opacity: 0; }

#bgExit {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 600px;
  cursor: pointer; }
